<div class="form-main">
    <div class="main-wrapper">
      <ng-container *ngIf="submitted">
        <div class="text-center">We will get back to you shortly!!</div>
      </ng-container>
      <ng-container *ngIf="!submitted">
        <h2 class="form-head">Contact From</h2>
        <form class="form-wrapper">
          <div class="form-card">
            <input
              class="form-input"
              type="text"
              name="full_name"
              [(ngModel)]="contact.name"
              required="required"
            />
            <label class="form-label" for="full_name">Full Name</label>
          </div>
  
          <div class="form-card">
            <input
              class="form-input"
              type="email"
              name="email"
              required="required"
              [(ngModel)]="contact.email"

            />
            <label class="form-label" for="email">Email</label>
          </div>
  
          <div class="form-card">
            <input
              class="form-input"
              type="text"
              name="phone_number"
              required="required"
              [(ngModel)]="contact.phone"

            />
            <label class="form-label" for="phone_number">Phone number</label>
          </div>
  
          <div class="form-card">
            <textarea
              class="form-textarea"
              maxlength="420"
              rows="3"
              name="phone_number"
              required="required"
              [(ngModel)]="contact.address"

            ></textarea>
            <label class="form-textarea-label" for="phone_number"
              >Address</label
            >
          </div>
          <div (click)="submit()" class="btn-wrap form-submit">
            <button> Submit </button>
          </div>
        </form>
      </ng-container>
    </div>
  </div>